ICSimStim/bird
ICSimStim/mouse
ICSimStim/STRF
ripple-stimuli
run/
simData-ripple
params-ripple
solve/
data_fitted/
simData/
SNN_optimization/data/
simData-Vocoded/
.DS_Store
*.png
temp/preprocessed_stim_1.mat
spikingNetwork_puretiming.m
solve/params.mat
sepkerneltensor.m
run_SpikingNetwork_offset.m
run_SpikingNetwork_main.m
run_SpikingNetwork_L4.m
run_SpikingNetwork_adaptation.m
mechs/synDoubleExp_variablegSYN_V2.mech
mechs/synDoubleExp_variablegSYN.mech
mechs/synDoubleExp_V2.mech
mechs/synDoubleExp_test1.mech
mechs/synDoubleExp_LTP.mech
mechs/synDoubleExp.mech
mechs/storeSpks.m
mechs/nonhomPoissonGeneratorSpikeTimes.m
mechs/iPSC_LTP_old.mech
mechs/iNoise.mech
birdNetwork.m
birdNetwork_V2.m
birdNetwork_V3.m
EPSC, voltage, and condutance.fig
EPSC and Voltage.fig
example C cell dynamics.fig
ICSimStim/InputGaussianSTRF.m
ICSimStim/InputGaussianSTRF_main.m
example response in dud channel.fig
ICSimStim/InputGaussianSTRF_v2.m
ICSimStim/InputGaussianSTRF_v3.m
ICSimStim/STRFconvolve.m
ICSimStim/STRFgen.m
InputGaussianSTRF_tone.m
mat files/bestgrantsim.mat
mat files/examplecell.mat
mat files/grant_grid.mat
mechs/dsSynapse.mech
mechs/dummy.mech
mechs/getGenExtPoissonTotalGating.m
mechs/getPoissonGating.m
mechs/IC_input.mech
mechs/IF.pop
mechs/iH_d.mech
mechs/iH_V2.mech
*.fig
ICSimStim/temp/preprocessed_stim_1.mat
ICSimStim/preprocessed_stims.mat
dontusethese.m
*.mat
!ICSimStim/Panniello_fits.mat
!Panniello_fits.mat
!ICfiles.mat
!default_STRF_with_offset_200k.mat
!ICSimStim/default_STRF_with_offset_200k.mat
*.tmp
Ince et al.pdf
simData-AM
SpikingNetwork_Ripple.m
postProcessRipple.m
ICSimStim/STRF_Ripple.m
useKristinaCode.m
postProcessAM.asv
SpikingNetwork_AMStim.asv
ICSimStim/Thumbs.db
ICSimStim/full_grid_stims
ICSimStim/old
not used in paper/
2D.eps
2D.ai
SpikingNetwork_single.m
ICSimStim/temp/preprocessed_stim_1.mat
ICSimStim/temp/preprocessed_stim_1.mat
ICSimStim/temp/preprocessed_stim_1.mat
params_PVconverge.asv
